:root{
  
  
  background-color: rgb(242, 249, 255);
}

.mobileView{
  width: 360px;
  height: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.button{
  background: none;
  border: none;
}
.header{
  display: flex;
  float: left;
  padding: 5px;
}
.header2{
  height: 40px;
  background-color: black;
}
.time{
  width:  300px;
  height: 55px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 30px;
}
.food-type{
  padding: 10px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.food{
  
  margin:  40px 10px 0px 10px;
  width: 90px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}
.dishes{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.5px solid;
  display: inline-block;
  margin: 15px;
}
.popularDishes{
  border-bottom: 1px solid gray;
}
